.header-pets .header .navigation .burger-menu p {
  border-bottom: 2px solid black;
}

.prev-page,
.first-page {
  transform: rotate(180deg);
}

@media (max-width: 985px) {
  .pets-selection-container {
    gap: 15px;
    padding: 80px 25px 76px 25px;
  }

  .pets-page-navigation {
    padding-top: 12px;
  }
}

@media (max-width: 530px) {
  .pets-selection-container {
    padding: 42px 10px;
    gap: 42px;
  }

  .pets-grid-container {
    padding: 0;
  }

  .pets-page-navigation {
    min-width: 300px;
    gap: 10px;
    padding-top: 2px;
  }
}
