@import url(./footer.css);

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header,
footer {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  background: #95a0b0;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border: black solid 2px;
  border-radius: 12px;
  justify-content: space-evenly;
  position: relative;
}
.search-bar {
  border-radius: 12px;
  padding: 5px 28px 2px 8px;
  height: 32px;
  font-size: 18px;
  border: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 2px solid rgb(201, 199, 199);
}

.search-bar:focus {
  outline: none;
}

.search-btn {
  background: url(./assets/icons/search-icon.png) no-repeat;
  background-size: 25px;
  width: 35px;
  height: 32px;
  border: none;
  background-position: center;
  cursor: pointer;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: background-color 0.3s;
}

.search-btn:hover {
  background-color: aqua;
}
.search-btn:active {
  background-size: 22px;
}

.clear-btn {
  font-size: 12px;
  font-weight: 800;
  position: absolute;
  right: 42px;
  border: none;
  background: none;
  padding: 0;
  color: #d4d4d4;
  cursor: pointer;
  transition: 0.3s;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.clear-btn:hover {
  background-color: #4f4f4f;
}

.main {
  max-width: 1280px;
  width: 100%;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(10px, 1fr));
  gap: 10px;
  grid-auto-flow: dense;
  padding: 0 25px;
}

.img-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: end;
  overflow: hidden;
  height: fit-content;
}

img {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.main:empty {
  background: url(./assets/icons/loading-gif.gif) no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}
