/*------<rad>-------*/

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 360deg;
}

.fireballBtn {
  background: conic-gradient(rgba(0, 128, 0, 0) var(--angle), rgba(0, 0, 0, 0.411) 0deg), url(../assets/icons/fireball.png) no-repeat;
  background-color: #fee97d;
}

.lightningBtn {
  background: conic-gradient(rgba(0, 128, 0, 0) var(--angle), rgba(0, 0, 0, 0.411) 0deg), url(../assets/icons/lightning.png) no-repeat;
  background-color: #fee97d;
}

.bribeBtn {
  background: conic-gradient(rgba(0, 128, 0, 0) var(--angle), rgba(0, 0, 0, 0.411) 0deg), url(../assets/icons/bribery.png) no-repeat;
  background-color: #fee97d;
}

.ability-btn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgb(210, 193, 6);
  animation: none;
  background-size: contain, 80%;
  background-position: center;
}

.reload-lightning {
  animation: fill-circle 5s linear forwards;
}
.reload-fireball {
  animation: fill-circle 10s linear forwards;
}

@keyframes fill-circle {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
