/*------<rad>-------*/

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 360deg;
}

.repairBtn {
  background: conic-gradient(
      rgba(0, 128, 0, 0) var(--angle),
      rgba(0, 0, 0, 0.411) 0deg
    ),
    url(../assets/icons/repair.png) no-repeat;
}
.upgradeBtn {
  background: conic-gradient(
      rgba(0, 128, 0, 0) var(--angle),
      rgba(0, 0, 0, 0.411) 0deg
    ),
    url(../assets/icons/up-arrow.png) no-repeat;
}
.mapBtn {
  background: conic-gradient(
      rgba(0, 128, 0, 0) var(--angle),
      rgba(0, 0, 0, 0.411) 0deg
    ),
    url(../assets/icons/map.png) no-repeat;
}

.fireballBtn {
  background: conic-gradient(
      rgba(0, 128, 0, 0) var(--angle),
      rgba(0, 0, 0, 0.411) 0deg
    ),
    url(../assets/icons/fireball.png) no-repeat;
}

.lightningBtn {
  background: conic-gradient(
      rgba(0, 128, 0, 0) var(--angle),
      rgba(0, 0, 0, 0.411) 0deg
    ),
    url(../assets/icons/lightning.png) no-repeat;
}

.bribeBtn {
  background: conic-gradient(
      rgba(0, 128, 0, 0) var(--angle),
      rgba(0, 0, 0, 0.411) 0deg
    ),
    url(../assets/icons/bribery.png) no-repeat;
}

.ability-btn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgb(210, 193, 6);
  animation: none;
  background-size: contain, 80%;
  background-position: center;
  background-color: #fee97d;
}

.button.ability-btn:not(.unlocked):disabled {
  filter: grayscale(100%);
  cursor: auto;
  opacity: 0.5;
}

.reload-lightning {
  animation: fill-circle 5s linear forwards;
}
.reload-fireball {
  animation: fill-circle 10s linear forwards;
}

@keyframes fill-circle {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
