.location-btn {
  cursor: pointer;
  padding: 0;
}
.location-dropdown {
  position: relative;
  display: inline-block;
}

.location-dropdown .dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 0;
  border-radius: 50%;
  bottom: -25px;
  cursor: pointer;
  background-color: white;
}

.location-dropdown .dropdown-content.battle-btn {
  left: 20%;
  border-top-right-radius: 0;
}
.location-dropdown .dropdown-content.event-btn {
  right: 15%;
  border-top-left-radius: 0;
}
.location-dropdown:focus-within .dropdown-content {
  display: flex;
}

.dropdown-content {
  align-items: center;
  justify-content: space-around;
}

.event-btn,
.battle-btn {
  width: 45px;
  height: 45px;
}

.event-btn {
  background-image: url(../assets/icons/event.png);
  background-size: 30px, 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.battle-btn {
  background: url(../assets/icons/swords.png);
  background-repeat: no-repeat;
  background-size: 24px, 100%;
  background-position: center;
}
/*------------------------------------------*/
.dropdown-content:hover {
  filter: drop-shadow(1px 1px 10px #fff93c);
}

@media (max-width: 850px) {
  .location-dropdown .dropdown-content.event-btn {
    right: 0;
    scale: 0.7;
    bottom: -15px;
  }
  .location-dropdown .dropdown-content.battle-btn {
    left: 0;
    scale: 0.7;
    bottom: -15px;
  }
}
@media (max-width: 550px) {
  .location-dropdown .dropdown-content.event-btn {
    right: -25%;
  }
  .location-dropdown .dropdown-content.battle-btn {
    left: -25%;
  }
}
