:root {
  --running-width: 300px;
  --running-padding: 10px;
}

body {
  display: flex;
  margin: 0;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.back-img {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(5.8px) brightness(1.1) contrast(1) grayscale(0.7) saturate(1.1);
}

.header {
  align-self: center;
  background: linear-gradient(180deg, rgb(18 18 18) 0%, rgb(47 47 47 / 85%) 50%, rgb(255 255 255 / 0%) 100%);
  width: 100%;
  text-align: center;
  text-shadow: rgb(200, 200, 200) 1px 0 6px;
}

main {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}

li {
  list-style: none;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  filter: drop-shadow(2px 4px 6px black);
}

.image-container {
  overflow: hidden;
  height: 400px;
  width: 400px;
  border-radius: 9px 9px 0 0;
}

.player {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0px 0px 9px 9px;
  background: linear-gradient(to right, #283048, #859398);
}

.mini-img {
  width: 400px;
  overflow: hidden;
  z-index: 1;
  transition: 1s;
}

.mini-img.magnified {
  scale: 1.12;
}

.track-info span {
  font-family: cursive;
}

.progress-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.progress-bar {
  width: 65%;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 23px;
}

.control-btn {
  background: none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  filter: invert(80%) sepia(56%) saturate(240%) hue-rotate(127deg) brightness(87%) contrast(92%);
  transition: 0.5s;
}

.control-btn:hover {
  filter: invert(1);
}

.volume-btn {
  background-image: url(./assets/svg/volume.png);
}

.prev {
  background-image: url(./assets//svg/backward.png);
}

.next {
  background-image: url(./assets/svg/forward.png);
}

.play {
  background-image: url(./assets/svg/play.png);
}

.play.pause {
  background-image: url(./assets/svg/pause.png);
}

.volume-btn.mute {
  background-image: url(./assets/svg/volume-mute.png);
}

.contacts-link {
  padding: 0 15px;
  transition: 0.3s;
  text-decoration: none;
  color: black;
}

.contacts-link:hover {
  color: rgb(47, 206, 255);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  background: linear-gradient(to top, #ffffff4f 0%, #9696968f 25%, #ffffff40 50%, #ffffff24 80%, #ffffff00 100%);
}

.footer-rss-logo {
  width: 120px;
  height: 50px;
  background-image: url(./assets//svg/rs-school-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s;
  filter: drop-shadow(1px 1px 3px rgb(200, 200, 200));
}

.footer-rss-logo:hover {
  filter: drop-shadow(1px 1px 6px #82cfd0);
}

.footer-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
  text-shadow: rgb(200, 200, 200) 1px 0 6px, rgb(255, 255, 255) 1px 0 6px;
}

.footer-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

.gh-link {
  max-height: 40px;
  transition: 0.5s;
  filter: drop-shadow(1px 1px 3px rgb(200, 200, 200));
}

.gh-link:hover {
  filter: drop-shadow(1px 1px 6px #82cfd0);
}

/*---dropdown-----*/
.volume-dropdown {
  position: relative;
  display: inline-block;
  z-index: 3;
  height: 30px;
}

.volume-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
  background: linear-gradient(90deg, #abd3d8, #acbdca, #aca7bb);
  margin: 0;
  bottom: 35px;
  left: -80px;
}
.volume-dropdown:focus-within .dropdown-content {
  display: block;
}

.dropdown-content li {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 20px;
}

.volume-mute-btn {
  filter: invert(40%) sepia(56%) saturate(240%) hue-rotate(127deg) brightness(87%) contrast(92%);
}

input {
  cursor: pointer;
}
/*<-------------------- running string ----------------*/

.running-info {
  width: var(--running-width);
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 5px;
}

.running-info .track-info {
  display: inline-block;
  padding-left: 100%;
}

.track-info:not(.animated) {
  transform: translateX(calc(var(--running-padding) - var(--running-width)));
}

.animated {
  animation: runningString 8s linear infinite;
}

@keyframes runningString {
  0%,
  10%,
  90%,
  100% {
    transform: translateX(calc(var(--running-padding) - var(--running-width)));
  }
  40%,
  60% {
    transform: translateX(calc(var(--running-width) - var(--running-padding) - 100%));
  }
}

.progress-bar {
  cursor: pointer;
  background: linear-gradient(to right, #82cfd0 0%, #82cfd0 0%, #fff 0%, #fff 100%);
  border: solid 2px #82cfd0;
  border-radius: 8px;
  height: 7px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}
.progress-bar::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #434343;
  background: url("./assets/svg/favicon.png"), #434343 no-repeat;
  background-size: contain;
}

.image-container {
  position: relative;
}
.equalizer {
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  rotate: 180deg;
}
.col {
  background-image: linear-gradient(#78dddf, #709d9d, #4c7576b4, #4c75766b, #616c6c20);
  width: 12px;
  height: 3px;
}

@keyframes equalizer {
  0% {
    height: 3px;
  }
  100% {
    height: 80px;
  }
}
@keyframes equalizer1 {
  0% {
    height: 3px;
  }
  100% {
    height: 50px;
  }
}
@keyframes equalizer2 {
  0% {
    height: 3px;
  }
  100% {
    height: 30px;
  }
}
@keyframes equalizeroff {
  0% {
    height: 30px;
  }
  100% {
    height: 3px;
  }
}

.col-9,
.col-25 {
  animation: equalizer 0.4s infinite alternate-reverse;
}

.col-19,
.col-16 {
  animation: equalizer 1s infinite alternate-reverse;
}

.col-2,
.col-21 {
  animation: equalizer2 1s infinite alternate-reverse;
}
.col-3,
.col-14 {
  animation: equalizer 0.8s infinite alternate-reverse;
}
.col-4,
.col-13,
.col-20 {
  animation: equalizer1 0.7s infinite alternate-reverse;
}
.col-5,
.col-24 {
  animation: equalizer2 0.2s infinite alternate-reverse;
}
.col-6,
.col-10,
.col-23 {
  animation: equalizer1 0.9s infinite alternate;
}
.col-7,
.col-12,
.col-17 {
  animation: equalizer1 0.5s infinite alternate-reverse;
}

.col-1,
.col-11,
.col-22,
.col-15 {
  animation: equalizer2 0.6s infinite alternate;
}

.col-8,
.col-18 {
  animation: equalizer1 0.4s infinite alternate;
}

.equalizer.off .col {
  animation: equalizeroff 0.2s;
}
