:root {
  --running-width: 300px;
  --running-padding: 10px;
}

li {
  list-style: none;
}

.control-btn {
  background: none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
}

.volume-btn {
  background-image: url(./assets/svg/volume.png);
}

.prev {
  background-image: url(./assets//svg/backward.png);
}

.next {
  background-image: url(./assets/svg/forward.png);
}

.play {
  background-image: url(./assets/svg/play.png);
}

.play.pause {
  background-image: url(./assets/svg/pause.png);
}

.volume-btn.mute {
  background-image: url(./assets/svg/volume-mute.png);
}

.contacts-link {
  padding: 0 15px;
  line-height: 50px;
  transition: 0.3s;
  text-decoration: none;
  color: black;
}

.contacts-link:hover {
  color: rgb(47, 206, 255);
  text-decoration: underline;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.footer-rss-logo {
  width: 120px;
  height: 50px;
  background-image: url(./assets//svg/rs-school-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s;
}

.footer-rss-logo:hover {
  filter: drop-shadow(2px 4px 6px rgb(240, 233, 29));
}

.footer-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
}

/*---dropdown-----*/
.volume-dropdown {
  position: relative;
  display: inline-block;
}

.volume-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
}
.volume-dropdown:focus-within .dropdown-content {
  display: block;
}

/*<-------------------- running thingy ----------------*/

.running-info {
  width: var(--running-width); /* макс ширина названия */
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.running-info .track-info {
  display: inline-block;
  padding-left: 100%;
  animation: runningString 5s linear infinite;
}

@keyframes runningString {
  0%,
  10%,
  90%,
  100% {
    transform: translateX(calc(var(--running-padding) - var(--running-width))); /* макс ширина названия running-info */
  }
  40%,
  60% {
    transform: translateX(calc(var(--running-width) - var(--running-padding) - 100%));
  }
}
